{% extends "base.html" %} {% block content %} {% load crispy_forms_tags %}
<center>
    <form method="post" style="width: 30%; padding: 25px;">
        {% csrf_token %} {{ form|crispy }}
        <input type="submit" style="float: right; margin-top: 10px;" class="btn btn-success" value="{{ type }}" />
        <span style="float: left; margin-top: 10px;">
            <a href="{{ url }}" class="btn btn-primary" role="button">{{ other }}</a>
        </span>
    </form>
</center>
{% endblock %}